html {
  box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
  }



  body {
   margin: 0px;
   padding: 0px;

   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   font-family: "Roboto",Tahoma,sans-serif;
   background-color: #849d8f;

 }

 img { max-width: 100% }

 a { text-decoration: none }


 .container {
   display: block;
   min-width: 900px;
   max-width: 1200px;
   width: 100%;
   /* width: 1200px; */
   margin: 0 auto;
   padding: 0 28px;
 }

 .hide {
display: none;
 }


 /* .main-header {
   display: flex;
   justify-content: center;
   background-color: #e74a357a;
   box-shadow: inset 0 0 0 2px rgb(200, 255, 0);
  } */

  .header-top{
    display: flex;
    margin-top: 23px;

    /* justify-content: space-between; */
  }

.main-header-logo {
  margin-top: -14px;
  margin-left: 0px;
}


 .site-navigator {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 0;
   list-style: none;
   margin-left: 10px;
   margin-top: 5px;
 }


.site-navigator li:first-child {
  margin-left: 0;
}

  .site-navigator a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}


.site-navigation-sub a {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #323232;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
}


.sub-menu-new {

    font-weight: 700;
}


.sub-menu-new:hover {
  text-align: left;
  background-color: #fbded8;
    border-radius: 0;

}

.site-navigator ul {
  position: absolute;
  padding-left: 0;
  list-style: none;
  background-color: #f8f7f4;
  display: none;
  text-align: left;
  box-sizing: border-box;
  width: 143px;
  margin-left: -7px;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.site-navigator a{
  padding: 1px 14px;
  border-radius: 15px;
}

a.menu {

    padding: 5px 14px;
}


.site-navigator a:hover,
.catalog-navigator:hover > a  {
  background: #f7f6f3;
  color: #323232;
  transition: all .2s ease-in-out;
}


.site-navigator a:active {
  background-color: #ededed;
  transition: all .2s ease-in-out;
}

.catalog-navigator , .delivery , .company , .btn-enter, .btn-cage{
  padding-bottom: 10px;
}

.catalog-navigator:hover ul {
  margin-top: 7px;
  display: block;
  z-index: 1;
  transition: all .2s ease-in-out;
}

a.sub-link{
  font-weight: 700;
 padding: 0 15px;
 line-height: 38px;
}

a.sub-link::after
{
  display: block;
  content: "";
  /* position: absolute; */
  /* bottom: 0px;
  left: 6px; */
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: rgba(50,50,50,.2);
}



.site-navigation-sub a:hover {
  text-align: left;
  background-color: #fbded8;
    border-radius: 0;
    transition: all .2s ease-in-out;
}

.site-navigation-sub a:active{
  background-color: #f6b5a5;
}


.dropdown .dropdown-content {
  display: none;
}

.dropdown-btn {
  margin-left:10px;
}

.search {
  margin-left: auto;
}
.basket {
  margin-left: 0px;
}



  .btn-search {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/lupa.svg") no-repeat 50% 50%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;

  }


  .btn-search:hover {
    background: url("../img/lupa-hover.svg") no-repeat 50% 50%;
    background-color: #ffffff;
    transition: all .2s ease-in-out;
  }

  .search:hover .div-search {
    display: block;
    position: absolute;
    padding: 1px 1px 20px 1px;

  }
  .btn-enter {
      display: inline-block;
      padding: 9px 16px 9px 43px;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
      vertical-align: top;
      text-decoration: none;
      background: url("../img/enter.svg") no-repeat 21% 49%;
      background-color: #ffffff4f;
      border-radius: 50px;
      border: none;

      cursor: pointer;
    }

   .btn-enter:hover {
     display: block;
     color: #323232;
     background: url("../img/enter-hover.svg") no-repeat 21% 49%;
     background-color: #ffffff;
     transition: all .2s ease-in-out;
    }


.user-enter:hover .dropdown-content {
  display: block;
    position: absolute;
    margin-left: -175px;
    margin-top: -6px;
    width: 277px;
    height: 214px;
    background-color: #f8f7f4;
    border-radius: 10px;
  z-index: 1;
}

.user-enter-list {
  margin: 0;
  padding: 0;
}

.btn-enter-li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-bottom: 10px;
}


input[type="text"] {
  font-size: 18px;
  width: 239px;
    height: 42px;
    margin: 10px 19px;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid #d3d3d2;
}

input[type="text"]::placeholder{
  font-size: 14px;
}

input[type="password"] {
  font-size: 18px;
  width: 239px;
    height: 42px;
    margin: 0px 19px;
    border-radius: 5px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid #d3d3d2;
}

input[type="password"]::placeholder{
  font-size: 14px;
}

.div-search{
  position: absolute;
  margin-left: -300px;
  margin-top: -2px;
  width: 341px;
  height: 84px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

input[type="search"] {
  width: 309px;
  height: 42px;
  margin: 20px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24;
  color: #999999;
  padding-left: 14px;
  padding-right: 14px;
}

input[type="search"]::placeholder {
  font-size: 14px;
}

 .site-enter {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 25px;
  margin-left: 18px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.site-enter:hover{
  background: #ed7360;

}

.site-enter:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

 .user p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
 .user a {
  display: block;
  position: relative;
   margin-left: 139px;
   top:-52px;
  line-height: 10px;
  color: #323232;
  text-decoration: underline;
}

.user a:hover {
  color: #e84d37;
  transition: all .2s ease-in-out;
}

.cage-index {
  display: inline-block;
  padding: 9px 17px 9px 43px;
  margin-right: -1px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: url("../img/cage-index.svg") no-repeat 20% 50%;
  background-color: #ffffff4f;
  border-radius: 50px;
  border: none;

  cursor: pointer;
}


.cage-index:hover {
 color: #323232;
 background: url("../img/cage-index-hover.svg") no-repeat 20% 50%;
 background-color: #ffffff;
 transition: all .2s ease-in-out;
}



.header-data {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right:-2px;
  margin-top: -22px;

}


.header-data p {
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  font-weight: bold;
  color:#ffffff;
}

.header-data b {
  display: block;
  font-size: 22px;
  line-height: 24px;

}


.slider {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
  text-align: center;
  padding-top: 255px;
  margin-top: 5px;
  margin-left: 4px;
}

.slider img {
  position: absolute;
  left: 50%;
  top:0;
  z-index: -1;
  transform: translateX(-50%);

}

.slider p {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  max-width: 670px;
  margin: 0 auto;
  color:#ffffff;

}

a.slide-btn {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  padding: 10px 40px;
  margin: 30px auto 13px auto;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

a.slide-btn:hover {

  background: #ed7360;
}

a.slide-btn:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.slide-btn1:checked ~ main .slide1,
.slide-btn2:checked ~ main .slide2,
.slide-btn3:checked ~ main .slide3 {
  display: block;
  opacity: 1;

}

/* .slide-btn2:checked ~ main .slide2 {
  display: block;
}

.slide-btn3:checked ~ main .slide3 {
  display: block;

} */

.slide-btn1:checked ~ main .slide1::before {
  content: "";
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -2;
background-color: #849d8f;
transition: all .2s ease-in-out;
}

.slide-btn2:checked ~ main .slide2::before {
  content: "";
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -2;
background-color: #8996a6;
transition: all .2s ease-in-out;

}

.slide-btn3:checked ~ main .slide3::before {
  content: "";
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: -2;
background-color: #9d8b84;
transition: all .2s ease-in-out;
}



.slide-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.slide-controls label:hover {
  background-color: rgba(237, 237, 237, 0.40);
  transition: all .2s ease-in-out;
}



.slide-controls {
  position: absolute;
  top:563px;
  left: 380px;

}
.slide-btn1:checked ~ main label[for="btn-1"]
,
.slide-btn2:checked ~ main label[for="btn-2"]
,
.slide-btn3:checked ~ main label[for="btn-3"]{
  background-color: #ffffff;
  transition: all .2s ease-in-out;
}

.banner-jam{
  margin-right: 26px;
}



.banners-flex{
  display: flex;
  height: auto;

}

.banners-flex section {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}



.banner-jam h2,
.banner-chocolate h2  {
  margin-left: 19px;
  padding-top: 16px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color:#ffffff;
}

.banner-jam p,
.banner-chocolate p {
  margin-left: 20px;
  margin-top: -15px;
  font-size: 18px;
  width: 520px;
  line-height: 22px;
  font-weight: bold;
  color:#ffffff;
}

.banner-jam a,
.banner-chocolate a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
  margin-left: 349px;
}

.banner-jam a {
  margin-left: 372px;
}

.image{
  margin-bottom: 34px;
  height: 229px;;
    border-radius: 16px;
}
.jam {
  background: url("../img/raspberries.jpg") 22% 52%;
  border-radius: 15px;
  background-color: #b31832;

}

.chocolate {
  background: url("../img/chocolate.jpg") 81% 47%;
  border-radius: 15px;
  background-color: #663412;
}

.button-have {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 22px 10px 21px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;

  margin-right: 19px;
  margin-top: 27px;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.button-have:hover{
  background: #ed7360;
}

.button-have:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.button-jam {
  /* margin-left: 374px; */
  padding: 11px 23px 11px 23px;
}



.icecream {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: flex-start;
  list-style: none;
  margin: 0 -13px 0px;
}
/* .icecream li {
  margin-bottom: 38px;
} */

.ice {
  position: relative;
  width: 25%;
  /* padding: 0 13px; */
  margin-bottom: 39px;
  margin: 0;
  min-height: 1px;
}

.ice > div{
  padding: 7px 13px 20px 13px;
}

.ice:hover > div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(0,0%,100%,.2);
  box-shadow: 0 0px 80px 0 rgba(0,0,0,.4);
  border-radius: 5px;
  z-index: 2;
  transition: all 0.5s;
}

ice-catalog{
  margin-bottom: 39px;
}

/* .ice:nth-last-child(-n+4){
  margin-bottom: 0px;
  background-color: #1faee9;
} */

.ice img {
  border-radius: 50%;
}

.hit-image{
  position: absolute;
    top: 70px;
    left: 11px;
    display: inline-block;
    width: 61px;
    height: 61px;
    vertical-align: baseline;
    background-image: url(/img/hit.png);
    background-repeat: no-repeat;
}


.icecream p {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -63px;
  margin-bottom: 20px;
}



.icecream span {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}





.price-ice {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 11px;
  height: 44px;
  min-height: 44px;
  overflow: hidden;

}

.ice:hover .price-ice {
  height: auto;
}

.fast-see {
  display: none;

}

.ice:hover .fast-see{

  display: block;


}



.fast-see a {
  display: block;
margin: 0 auto;
width: 200px;
padding: 0;
height: 45px;
line-height: 45px;

}



.flex-waffle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.waffle {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 40px;
  margin-top: 6px;
  flex-direction: row;
  background: url("../img/vaflya.png") 50% 100%;
  width: 1146px;
  height: 306px;
  border-radius: 15px;
  background-color: #fae7c3;
}

.waffle > h2 {
  padding-top: 5px;
  padding-left: 19px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color:#323232;
}

.waffle p {
  display: flex;
  position: relative;
  top:-46px;
  left: -4px;
  padding-top:10px;
  justify-content:space-between;
  padding-left: 27px;
  margin-right: 7px;
  margin-bottom: -22px;
  width: 49%;
  height: 25%;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.waffle img {
  margin-top: -13px;
  margin-left: -6px;
  margin-right: 10px;
}

.flex-news-sub {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.news {
  display: flex;
  flex-direction: column;
  background: url("../img/news.jpg") no-repeat 50% 50%;
  width: 560px;
  border-radius: 15px;
  margin-right: 13px;
  background-color: white;
  background-size: cover;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  color:#323232;
  margin-bottom: 5px;
}

.news a {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  margin-left: 19px;
  width: 285px;
  text-decoration-line: underline;
}

.news a:hover {
  color: #ed7360;
  transition: all .2s ease-in-out;
}


.subscribe{
  display:flex;
  margin-left: 13px;

  }

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  padding-left: 20px;
  padding-top: 13px;
}

input[type="email"] {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 13px;
  height: 46px;
  width: 370px;
  border-radius: 5px;
  border: 2px solid #d3d3d2;
}

input[type="email"]::placeholder{
  font-size: 16px;
}

.subscribe button {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 14px 12px 17px;
  right: -6px;
  top:-3px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.subscribe button:hover{
  background: #ed7360;
}

.subscribe button:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.subscribe-form {
  position: relative;
  top:5px;
  left:6px;
  background: #f8f7f4;
  width: 549px;
  height: 210px;
  border-radius: 10px;
}


.subscribe {

  background: url("../img/gradient.png") no-repeat 50% 50%;
  width: 560px;
  height: 220px;
}

.map-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 18px
}

.feedback-form {
  display: flex;
  position: absolute;
  right: 380px;
  top: 1945px;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 305px;
  background: #fffefe;
  border-radius: 15px;

}


.map .popup-modal {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    padding: 11px 26px 11px 27px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    color:#ffffff;
    border:0;
    margin-left: 5px;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    text-decoration: none;
    background: #f26843;
    background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
  }

  .map .popup-modal:hover{
    background: #ed7360;

  }

  .map .popup-modal:active {
    background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
    box-shadow: 0 -2px 2px rgba(172,16,0,.64)

  }


.feedback-form h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 4px;
  margin-bottom: 2px;
}

.feedback-form strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#323232;
  padding-left: 4px;
  margin-bottom: 4px;
}

.feedback-form p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
  padding-left: 4px;
  margin-bottom: 5px;
}

.feedback-form strong:nth-of-type(2) {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color:#323232;
  margin-bottom: -11px;
}

.feedback-form p:nth-of-type(2) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
  margin-bottom: 21px;
}

.flex-footer {
  display: flex;
  justify-content: space-between;
  padding: 0;

}

.social-flex {
  display: flex;

  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 15px 27px;
}

.social-btn {
   margin-right: 11px;
}

.tw {
  border: 3px solid #ddd;
  border-radius: 100px;
}

.tw:hover {
  background-color: #1faee9;
  transition: all .2s ease-in-out;

}

.it {
  border: 3px solid #ddd;
  border-radius: 100px;
}

.it:hover {
  background-color: #517fa4;
  transition: all .2s ease-in-out;
}

.fb {
  border: 3px solid #ddd;
  border-radius: 100px;
}

.fb:hover {
  background-color: #3b5998;
  transition: all .2s ease-in-out;
}

.vk {
  border: 3px solid #ddd;
  border-radius: 100px;
}

.vk:hover {
  background-color: #45668e;
  transition: all .2s ease-in-out;
}


.table-footer-menu {
  display: block;
  align-items: center;
}



.footer-list {
  width: 330px;
  margin-top: 25px;
  margin-left: 50px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

.footer-list li {
  width: 50%;
  margin-left: -22px;
}


.footer-list a {
    border-bottom: 1px solid #c2cec78c;
    text-decoration: none;

}

.footer-list a:hover {
  color:#ffbc9e;
  border: none;
  transition: all .2s ease-in-out;
}

.heart {
  position: relative;
}

.heart::before {
  content: "❤";
  position: absolute;
  left: -22px;
  top: 0px;
    font-weight: 500;
    font-size: 16px;
}

.heart:hover::before {
  color: #ffbc9e;
  transition: all .2s ease-in-out;
}


.table-footer-menu .heart {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.table-footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}


.htmlacademy-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  margin-right: 28px;
  margin-top: 14px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #fefefe;
}


.htmlacademy-logo p {
  width: 200px;
  margin-left: 14px;
  margin-top: 5px;
  font-weight: 300;
}
.htmlacademy-logo a {
  color: #ffffff;
text-decoration: none;
border-bottom: none;
}

.htmlacademy-logo .logo-href {
  border-bottom: 1px solid rgba(255,255,255,.3);
}
.htmlacademy-logo .logo-href:hover {

  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
  transition: all .2s ease-in-out;
}


.feedback-window {
  display:none;
  left: 50%;
  top: 50%;
  position: fixed;
  height: 442px;
  width: 477px;
  background: #f8f7f4;
  border-radius: 10px;
  margin-left: -237px;
  margin-top: -146px;
  padding:15px 5px 0 5px;
  z-index: 2;
}

.overlay {
  display: none;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(35, 31, 32, 0.3);
  z-index: 1;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.feedback-window .modal-close {
  position: absolute;
  top: 12px;
  right: 14px;
  outline: none;
  width: 21px;
  height: 21px;

  font-size: 0;
  padding: 0px;
  margin: 0;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}

.feedback-window .modal-close:hover ,
.feedback-window .modal-close:active {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  right: 0px;
  top: 10px;
  width: 22px;
  height: 2px;

  background-color: #231f20;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}



.feedback-window span {
  padding-left: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color:#323232;
  letter-spacing: 0.1px;
}

.feedback-window input[type="text"]{
margin-top: 20px;
font-size: 15px;
padding-left: 13px;
padding-right: 13px;
letter-spacing: 0.9px;
width: 266px;
height: 45px;
border: 1px solid #d3d3d2;
margin-bottom: 0px;
}

.feedback-window input[type="email"] {
  width: 266px;
  height: 45px;
  padding-right: 13px;
  padding-left: 13px;
  border: 1px solid #d3d3d2;
  letter-spacing: 0.6px;
  font-size: 15px;
  margin-bottom: 19px;
  margin-right: 10px;
}

.feedback-window textarea{
  width: 427px;
  height: 155px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 12px;
  border: 1px solid #d3d3d2;
  letter-spacing: 0.1px;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 18px;
  resize: none;
  border-radius: 5px;
}

.feedback-window button {
  display: inline-block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  margin-left: 309px;
    padding: 10px 23px 10px 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    color:#ffffff;
    border:0;
    border-radius: 30px;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    text-decoration: none;
    background: #f26843;
    background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
  }

  .feedback-window button:hover{
    background: #ed7360;
  }

  .feedback-window button:active {
    background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
    box-shadow: 0 -2px 2px rgba(172,16,0,.64)
  }



/* Стили,специально добавленные для каталога */


a.cat-index {
  color: #ffffff;
  background-color: #d07058;
  padding: 6px 13px 6px 13px;
  font-weight: 500;
}
a.cat-index:hover {
  color: #323232;
  background-color: #ffffff;
}

 li.cream {
  background-color: #d07058;
}

.cream a {
  color: #ffffff;
}

.header-form-dropdown {
  width: 541px;
  height: 242px;
  background: #f8f7f4;
  border-radius: 5px;

}

.header-form-dropdown tr a {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 14px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.header-form-dropdown tr a:hover{
  background: #ed7360;
}

.header-form-dropdown tr a:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}


button.filter-button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding: 10px 14px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:2px solid #ffffff;

  text-decoration: none;
  background: #ffffff4f;


}

.filter-button:hover,
.button-sorting:hover{
  color: #323232;
  background: #ffffff;
  transition: all 0.5s ease;
}

.filter-button:active,
.button-sorting:active {
  background: #eaeaea;
  border: 2px solid  #eaeaea;
  box-shadow: 0 -2px 2px #696969;
  transition: all 0.5s ease;
}







.basket .cage {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color:#323232;
}

.cage-index-catalog {
  color: #323232;
  background: url("../img/cage-index-hover.svg") no-repeat 15% 50%;
  background-color: #ffffff;
  transition: all .2s ease-in-out;
 }

 .basket:hover .header-form-dropdown {
  display: block;
  position: absolute;
  right: 375px;
  top: 59px;
  width: 540px;
  height: 242px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  z-index: 1;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}



.btn-cage {
  display: inline-block;
    list-style: none;
    margin: 0;
    padding-bottom: 10px;

}

.btn-cage-list{
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.button-remove {
  position: relative;
  width: 11px;
  height: 11px;
  margin: 0;
  padding: 0;
  border: none;
  color: none;
  vertical-align: text-top;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.cart{
  width:539px;
  min-height:242px;
  border-radius:5px
}

.cart-products{
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cacac7;
  margin-top: 17px;
  margin-left: 12px;
}

.cart-row{
  height:40px;
  margin:0;
  padding:0
}
.cart-col-header{
  margin:0;
  padding:0;
  color:inherit
}
.cart-td {
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
}
.button-remove:active,.button-remove:focus,.button-remove:hover{
  background-color:transparent;
  background-image:none;
  box-shadow:none;
  opacity:.5
}
.button-remove:after,.button-remove:before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:12px;
  background-color:#2c2829;
  cursor: pointer;
}

.button-remove:before{
  transform:rotate(45deg);
  cursor: pointer;
}
.button-remove:after{
  transform:rotate(-45deg);
  cursor: pointer;
}
.cart-td-remove{
  padding-left:6px
}
.cart-td--img{
  padding-left:9px
}
.cart-image{
  width:35px;
  height:35px;
  border-radius:35px
}
.cart-name{
  width:220px;
  padding-left:13px;
  vertical-align:bottom
}

.cart-name,.cart-price,.cart-quantity,.cart-subtotal{
  font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: inherit;
    padding-top: 10px;
}
.cart-quantity{
  padding-left: 38px;
    padding-top: 0px;
}
.cart-price{
  padding-left: 3px;
  padding-top: 0;
  color: #999;
}
.cart-subtotal {
  padding-left: 31px;
  padding-top: 0px;
}
.cart-total {
  padding-top: 20px;
  margin-right: -23px;
  padding-bottom: 15px;
  caption-side: bottom;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: inherit;
}
.cart .button{
  align-self:flex-end;
  -ms-flex-item-align:end
}
.cart--empty{
  width:250px;
  min-height:50px
}
.cart--empty.button{
  margin:auto
}

.button-table {
  margin: 16px;
    margin-top: -1px;
    padding: 9px 12px 10px 12px;
    border: none;
    border-radius: 20px;
}



































.header-form-dropdown a {
  font-size: 18;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
}

.link-pages {
  margin-left: -40px;
  margin-top: -36px;

}

.link-pages li {
  display: inline;
  padding-right:10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
}

.link-pages a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: #f6b5a5;
  transition: all 0.2s ease;
}


.breadcrumbs-link::after {
  content: "\00BB";
  position: relative;
  right: -7px;
}


.sorting {
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-left: -15px;
    align-items: flex-start;
}

.catalog-ice {
  margin-bottom: 24px;
}

.catalog-ice h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -14px;
}

.icecream-sorting  {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;
  margin-left: 14px;
  margin-bottom: 5px;
}

.icecream-sorting-fats span {
  font-size: 14px;
  margin-left: 14px;
}


.icecream-sorting-fats  {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color:#ffffff;

}

.filter {
  display: flex;
  flex-wrap: nowrap;
  border: none;
  width: 220px;
}

.filter-category {
  position: relative;
  display: flex;
  align-self: flex-start;
  border: 0;
  padding: 0;
    margin-right: 14px;
    margin-left: 14px;
    margin-top: 1px;

}


.filter-category select{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 35px 8px 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.filter-category::after{
  content: "";
  position: absolute;
    top: 37px;
    right: 14px;
    width: 0;
    height: 0;
    border-top: 9px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.filter-category:hover::after {
  border-top: 9px solid #323232;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #323232;
}


.filter-category select:hover {
  color: #323232;
}

option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#323232
}



.fillers-fats  {
  display: block;
    color: #ffffff;
    width: 439px;
    margin-left: 3px;
    margin-top: 0px;
}

.fillers-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 7px 13px;
  border-radius: 20px;
 background-color: rgba(255, 255, 255, 0.2);
}
.fillers-radio li,
.icecream-sorting-sweet li{
  list-style: none;
}

.fats-radio {
  margin-right: 36px;
}

.fillers-fats-radio {
  position: relative;
  left: -2px;
  padding-left: 25px;
  margin-left: 10px;
  color:rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.fillers-fats-radio:hover {
  color:rgba(255, 255, 255, 1);
}

.fillers-fats-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -2px;
  left: -8px;

  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);

}

.fillers-fats-radio input[type="radio"] + .radio-indicator:hover {
  border: 4px solid rgba(255, 255, 255, 1);
}

.fillers-fats-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 3px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;

}





fieldset{
  border: none;
}
.fillers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

.fillers li:hover{
  color: rgba(255, 255, 255, 1);
}

.fillers-chekbox {
  margin-right: -33px;
  margin-left: 0px;
}

.filler-box {
  position: relative;
  left: -15px;
  padding-left: 33px;
  top: 1px;

  cursor: pointer;
}

.filler-box input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: 8px;

  width: 20px;
  height: 20px;
  margin-left: -9px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

.filler-box input[type="checkbox"] + .checkbox-indicator:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

.filler-box input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 3px;

  width: 4px;
  height:6px;
  background-color: white;

}

.filler-box input[type="checkbox"]:checked + .checkbox-indicator::after{
content: "";
position: absolute;
top: -4px;
left: 11px;

width: 4px;
height:20px;
background-color: white;

}
.filler-box input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(-45deg);

}

.filler-box input[type="checkbox"]:checked + .checkbox-indicator::after{
  transform: rotate(45deg);
  border-radius: 10px;
}



.icecream-sorting-sweet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  width: 700px;
  height: 34px;;
  border-radius: 15px;
 background-color: rgba(255, 255, 255, 0.2);
 padding: 7px 16px;
}

button.button-sorting {
  display: flex;
  position: absolute;
  align-self: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding: 7px 29px;
  margin-top: 44px;
  margin-left: 730px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:2px solid #ffffff;

  text-decoration: none;
  background: #ffffff4f;
}

.page {
  display: flex;
  width: 1153px;
  justify-content: flex-end;
  margin-left: -5px;
  margin-top: 49px;
  margin-bottom: 5px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255,255,255,.2);
}

.paginator {
  margin-right:-2px;
  margin-bottom: 2px;
}

.paginator-list {
  display: flex;
  margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 0;
}


.paginator-item {
  position: relative;
    margin-left: 3px;
    color: white;

}


.paginator-link {
  display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    padding: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    vertical-align: baseline;
    text-align: center;
    color: white;
    background-color: hsla(0,0%,100%,0);
    border-radius: 50%;
    transition: all 0.6s;
}

.paginator-list li:nth-child(2) a {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}


.first-page::before , .first-page::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 7px;
  width: 8px;
  height:1px;
  background-color: rgba(237, 237, 237, 0.4);

}

.first-page::before {
  transform: rotate(45deg);
  top: 15px;
}
.first-page::after {
  transform: rotate(135deg);
  top: 10px;
}

.last-page::before , .last-page::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 12px;
  width: 8px;
  height:1px;
  background-color: rgba(237, 237, 237, 1);

}

.last-page::before {
  transform: rotate(-45deg);
  top: 15px;
}
.last-page::after {
  transform: rotate(-135deg);
  top: 10px;
}

.paginator-link:hover:not(.not-light){
  background-color: hsla(0,0%,100%,.2);
  color: white;
  transition: all 0.4s;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer-catalog {
  margin-top: 7px;
}

.map-google {
position: absolute;
left: 0;
}

.map-google iframe {
  max-width: 100%;
}







.filter-item {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  border: none;

  /* Для демонстрации */

  margin: 0px 0px;
}

.range-filter {
  margin-left: 2px;
  width: 218px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-item legend {
 padding-left: 16px;
 padding-top: 2px;
  font-size: 14px;
  line-height: 16px;

  font-weight: 600;
  color: white;
}

.bar{
  margin-left: 20px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  width: 60%;
  height: 4px;

  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top:8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 2px;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle:hover{
  transform: scale(1.1);
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 70px;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 40px;
  height: 20px;

  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
















@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}










