  body {
   margin: 0px;
   padding: 0px;

   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   font-family: "Roboto",Tahoma,sans-serif;
   background-color: #849d8f;

 }

 .main-header {
   display: flex;
   justify-content: center;
   background-color: #e74a357a;
   box-shadow: inset 0 0 0 2px rgb(200, 255, 0);
  }

  .site-navigator li {
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
   color: #ffffff;
   list-style: none;
 }

  .site-navigator li a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

 .catalogg li a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  list-style: none;
  text-decoration: none;
}

  .btn-search {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/lupa.svg") no-repeat 50% 50%;
    background-color: #ffffff4f;
    border-radius: 50%;
  }

  .btn-search:hover {
    background: url("../img/lupa-hover.svg") no-repeat 50% 50%;
    background-color: #ffffff;
  }


  .btn-enter {
      display: inline-block;
      padding: 9px 16px 9px 43px;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #ffffff;
      vertical-align: top;
      text-decoration: none;
      background: url("../img/enter.svg") no-repeat 20% 50%;
      background-color: #ffffff4f;
      border-radius: 50px;
      border: none;

      cursor: pointer;
    }

   .btn-enter:hover {
     color: #323232;
     background: url("../img/enter-hover.svg") no-repeat 20% 50%;
     background-color: #ffffff;
    }






 .site-enter {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.site-enter:hover{
  background: #ed7360;
}

.site-enter:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

 .user p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
 .user a {
  color: #323232;
}


.cage-index {
  display: inline-block;
  padding: 9px 16px 9px 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: url("../img/cage-index.svg") no-repeat 20% 50%;
  background-color: #ffffff4f;
  border-radius: 50px;
  border: none;

  cursor: pointer;
}


.cage-index:hover {
 color: #323232;
 background: url("../img/cage-index-hover.svg") no-repeat 20% 50%;
 background-color: #ffffff;
}




.time-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color:#ffffff;
}

.number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color:#ffffff;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #006bf73f;
  box-shadow: inset 0 0 0 2px purple;

}

.slider .slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color:#ffffff;
}

a.slide-btn {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  padding: 10px 40px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

a.slide-btn:hover {

  background: #ed7360;
}

a.slide-btn:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.banners-flex{
  display: flex;
}

.flex-banner-jam{
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-right: 13px;
  justify-content: flex-end;
  background-color: #fc066d41;
  box-shadow: inset 0 0 0 2px rgb(0, 255, 234);
}
.flex-banner-chocolate {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 13px;
  justify-content: flex-start;
  background-color: #06fc3b41;
  box-shadow: inset 0 0 0 2px rgb(229, 255, 0);
}

.banner-jam h2,
.banner-chocolate h2  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color:#ffffff;
}

.banner-jam p,
.banner-chocolate p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color:#ffffff;
}

.banner-jam a,
.banner-chocolate a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
}

.banner-jam {
  width: 560px;
  height: 229px;
  background: url("../img/raspberries.jpg") no-repeat;
  border-radius: 25px;
}

.banner-chocolate {
  width: 560px;
  height: 229px;
  background: url("../img/chocolate.jpg") no-repeat;
  border-radius: 25px;
}

.button-have {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 23px 12px 21px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;

  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.button-have:hover{
  background: #ed7360;
}

.button-have:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.icecream {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #06fc6d41;
  box-shadow: inset 0 0 0 2px rgb(230, 4, 4);
}
.ice {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #fcf80641;
  box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
}

.ice img {
  border-radius: 50%;
}

.icecream p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

  .icecream span {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.icecream a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

}

.icecream li {
  list-style: none;
}

.flex-vaflya {
  display: flex;
  background-color: #06a2fc41;
  box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
  justify-content: center;
}

.vaflya {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;

  background: url("../img/vaflya.png") 50% 50%;
  width: 1146px;
  height: 306px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 2px rgb(0, 255, 13);
}

.vaflya > h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color:#323232;
}

.vaflya p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.flex-news-sub {
  display: flex;
  justify-content: center;
  background-color: #06fc8141;
  box-shadow: inset 0 0 0 2px rgb(0, 0, 0);
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.news {
  display: flex;
  padding-right: 13px;
  background: url("../img/news.jpg") no-repeat 50% 50%;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  box-shadow: inset 0 0 0 2px rgb(228, 0, 0);
}

.subscribe{
  display:flex;
  margin-left: 13px;
  box-shadow: inset 0 0 0 2px rgb(34, 0, 228);
  }

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe button {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 14px 12px 17px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.subscribe button:hover{
  background: #ed7360;
}

.subscribe button:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}

.subscribe-form {
  position: relative;
  top:5px;
  left:6px;
  background: #f8f7f4;
  width: 549px;
  height: 210px;
  border-radius: 10px;
}


.subscribe {

  background: url("../img/gradient.png") no-repeat 50% 50%;
  width: 560px;
  height: 220px;
}

.map-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: inset 0 0 0 2px rgb(228, 0, 0);
  background-color: #00b7ff52;
}

.feedback-form {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  width: 302px;
  height: 305px;
  background: #fffefe;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px rgb(49, 0, 228);
}


.map button {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    padding: 10px 23px 12px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    color:#ffffff;
    border:0;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    text-decoration: none;
    background: #f26843;
    background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
  }

  .map button:hover{
    background: #ed7360;
  }

  .map button:active {
    background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
    box-shadow: 0 -2px 2px rgba(172,16,0,.64)
  }

.feedback-form h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
  text-decoration: underline #323232;
}

.feedback-form strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#323232;
}

.feedback-form p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
}

.feedback-form strong:nth-of-type(2) {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color:#323232;
}

.feedback-form p:nth-of-type(2) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.flex-footer {
  display: flex;
  justify-content: space-around;
  background-color: #ff5e0063;
  box-shadow: inset 0 0 0 2px rgb(208, 255, 0);

}

.social-flex {
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px rgb(255, 0, 0);
}

.table-footer-menu {
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 2px rgb(0, 204, 255);
}

.htmlacademy-logo {
  align-items: center;
  display: flex;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
}

.table-footer-menu .heart {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.table-footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.feedback-window {
  height: 442px;
  width: 477px;
  background: #f8f7f4;
  border-radius: 10px;
}

.feedback-window span {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color:#323232;
}

.feedback-window button {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
    padding: 10px 23px 12px 21px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    color:#ffffff;
    border:0;
    text-shadow: 0 2px 5px rgba(160,32,11,.76);
    text-decoration: none;
    background: #f26843;
    background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
    box-shadow: 0 2px 2px rgba(172,16,0,.64);
  }

  .feedback-window button:hover{
    background: #ed7360;
  }

  .feedback-window button:active {
    background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
    box-shadow: 0 -2px 2px rgba(172,16,0,.64)
  }








/* Стили,специально добавленные для каталога */




.header-form-dropdown {
  width: 541px;
  height: 242px;
  background: #f8f7f4;
  border-radius: 5px;

}

.header-form-dropdown tr a {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 10px 14px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:0;
  text-shadow: 0 2px 5px rgba(160,32,11,.76);
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom,#f26843 0%,#e74a35 100%);
  box-shadow: 0 2px 2px rgba(172,16,0,.64);
}

.header-form-dropdown tr a:hover{
  background: #ed7360;
}

.header-form-dropdown tr a:active {
  background: linear-gradient(to bottom,#e74a35 0%,#f26843 100%);
  box-shadow: 0 -2px 2px rgba(172,16,0,.64)
}


button.filter-button {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding: 10px 14px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border-radius: 100px;
  color:#ffffff;
  border:2px solid #ffffff;

  text-decoration: none;
  background: #ffffff4f;


}

.filter-button:hover{
  color: #323232;
  background: #ffffff;
}

.filter-button:active {
  background: #eaeaea;
  border: 2px solid  #eaeaea;
  box-shadow: 0 -2px 2px #696969;
}










.basket .cage {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color:#323232;
}

.header-form-dropdown table tr:nth-child(1n) td:nth-child(1n+3){
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

/* .header-form-dropdown table tr:nth-last-child(1n+3) td:nth-child(3){
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.header-form-dropdown table tr:nth-last-child(3n+2) td:nth-child(3){
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
} */

.header-form-dropdown a {
  font-size: 18;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
}

.link-pages li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
}

.link-pages a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}


.catalog-ice {
  display: flex;
  background-color: #00c3ff73;
  justify-content: center;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2px rgb(110, 228, 0);
  background-color: #ff006252;
}

.catalog-ice h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color:#ffffff;
}

.icecream-sorting  {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color:#ffffff;
}

.filter-category select{
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #323232;
}

option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color:#323232
}

.fillers {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff
}

.filter-button {
  font-size: 16px;
  line-break: 18px;
  font-weight: 600;
  color:#ffffff;
}

.page li {
  list-style: none;
}

.page a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.page a:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: #323232;
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


