body {
    margin: 0px;
    padding: 0px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto",Tahoma,sans-serif;
    background-color: #849d8f;

  }

 .site-navigator li {
   font-size: 16px;
   line-height: 18px;
   font-weight: bold;
   color: #ffffff;
   list-style: none;
 }

 .site-navigator li a {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.catalogg li a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  list-style: none;
  text-decoration: none;
}

.user button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}

.user p {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}
.user a {
  color: #323232;
}

.time-work {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color:#ffffff;
}

.number {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color:#ffffff;
}

.slider .slide-title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
  color:#ffffff;
}

a.slide-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
}

.banner1 h2,
.banner2 h2  {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color:#ffffff;
}

.banner1 p,
.banner2 p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color:#ffffff;
}

.banner1 a,
.banner2 a {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#ffffff;
  text-decoration: none;
}

.icecream p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

c p:nth-last-child(2) {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.icecream a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.vaflya > h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color:#323232;
}

.vaflya p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}

.feedback-form h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
  text-decoration: underline #323232;
}

.feedback-form strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color:#323232;
}

.feedback-form p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color:#323232;
}

.feedback-form strong:nth-of-type(2) {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color:#323232;
}

.feedback-form p:nth-of-type(2) {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
}

.table-footer-menu .heart {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.table-footer-menu a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.htmlacademy-logo {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.feedback-window span {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal
  color: #323232;
}

.feedback-window button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}
